* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(/img/bgportifolio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 50px 5%;
}

em {
    color: #dbb2b2;
}

p {
    color: #fff;

}

.main-container {
    border-radius: 30px;
    padding: 58px 5%;
    justify-content: center;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* animation */
.main-container {
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
    animation-delay: .5s;
}

@keyframes zoom-in {
    100% {
        transform: scale(1);
        
    }
}

.subtitulo {
    width: 100%;
    color: #fff;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    margin-top: 0;
}

.nav-back {
    padding: 5px;
}

.nav-back a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.tittle {
    color: #fff;
    text-align: center;
    margin-bottom: 52px;
    opacity: 0;
    animation: animado 2s ease forwards;
    
}

@keyframes animado {
    
    0% {
        transform: translateX(-300px);
    }
    
    100% {
        transform: translateX(30px);
        opacity: 1;
    }
}


.box-projeto {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 24px 15px;
    width: 50%;
    flex: 1 1 45%;
    background-color:rgba(255, 255, 255, .1);
}

.box-projeto h3 {
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.box-projeto a {
    text-decoration: none;
    font-style: italic;
    color: #4671e9;
    transition: .5s;
}

.box-projeto a:hover {
    border-bottom: 1px solid #4671e9;
}

/* icons */
.icons img {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-left: 8px;
    transition: .3s;
}

.icons img:hover {
    transform: scale(1.1);
}

.loading {
    border: 2px solid #dbb2b2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: transparent;
    border-left: transparent;
    animation: rotacao 2s linear  infinite ;
    position: relative;

}

.status {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.status p {
    margin-top: 5px;
    color: #dbb2b2;
    font-style: italic;
}


@keyframes rotacao {
    100% {
        transform: rotate(360deg);
    }
}

